.not-found{
  position:fixed;
  top:0;
  width:100vw;
  height:100vh;
  background-color:grey;
  display: flex;
  justify-content: center;
  align-items: center;

}
#users{
 /* text-align: end; */
 text-align: inherit;
 cursor: pointer;
 background-color: lightgreen;
}
#edit-button{
  text-align: center;
  margin:0,auto;
  padding: 10px;
  text-align: center;
}
#Add-button{
  text-align: center;
  margin: auto;
}
.mr-3:hover{
  text-decoration: none;
}
h1,h3{
  text-align: center;
}